// Header text feature
.content {
  position: relative;
  z-index: 100;
  .inner {
    padding-top: 50px;
    overflow: hidden;
  }
}
// .inner {
//   width: 80vh;
//   margin: 0 auto;
// }
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 250px;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
}
.call-out p:last-child {
  margin-bottom: 0;
}
.call-out a {
  color: $header-desc-link-color
}
// Post listing
.posts {
  .post-teaser {    
    width: 100%;
    margin-bottom: 0;
    padding: 5% 20%;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    h1 {
      font-size: 1.8em;
    }
    p a {
      @extend .body-link;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }
}
